body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px;
  }
  
  .poster-image-container {
    display: inline-block;
    position: relative;
    border: 2px solid black; 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  .poster {
    margin: 20px;
    text-align: center;
  }
  
  #poster-image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .poster-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke; /* Added background color for text */
    color: white; /* Set text color to white */
  }
  
  #poster-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  #poster-quote {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }